
body {
    margin: 0;
    padding: 0;
  }
  
  .login {
    background-color: black;
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    margin: 2px;
    height: 450px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
.form{
    flex: 1;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin: 2px;
    width: 350px
}
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .btn{
   background-color: "black";
   border: "2px solid green";
   margin: "10px";
   transition:"background-color 0.3 ease";
  }
  .btn:hover {
    background-color: darkgreen;
  }
  .link{
    margin-left: 10px;
  }


  .bankimg{
    width: 200px;
    margin: 50px;
  }

  .transfer{
    display: flex;

  }